---
layout: default
title: Cassio Cabral
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Cassio Cabral</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              anything is possible when you put you mind on it
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>A computer science college dropout, self-made web-developer, UX focused. Shortening the gap between business, UX, tech and revenue. Or as I like to call, the golden unicorn.</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better. The credit belongs to the man who is actually in the arena, whose face is marred by dust and sweat and blood; who strives valiantly; who errs, who comes short again and again, because there is no effort without error and shortcoming; but who does actually strive to do the deeds; who knows great enthusiasms, the great devotions; who spends himself in a worthy cause; who at the best knows in the end the triumph of high achievement, and who at the worst, if he fails, at least fails while daring greatly, so that his place shall never be with those cold and timid souls who neither know victory nor defeat” - Theodore Roosevelt</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Improve frontend skills</li>
          <li>Immerse myself in the UX world</li>
          <li>Develop my open source project <a href="https://github.com/cassioscabral/rateissuesfront" target="_blank">RateIssues</a></li>
          <li>Enjoy life outside work</li>
          <li>Talk more with people</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Become a UX developer, merging frontend developer with UX designer</li>
          <li>Live in Amsterdam</li>
          <li>Become a core contributor in an open-source project</li>
          <li>Learn how to play post-rock</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          Batman, Gordon(from Batman, yeah he is awesome), Steve Jobs, Mark Zuckerberg, Bill Gates, Elon Musk, Wozniak, Flávio Augusto da Silva
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
